.homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  .homepage-header,
  .homepage-footer {
    padding: 20px;
    background-color: #007BFF;
    color: white;
  }
  
  .homepage-main {
    padding: 20px;
  }
  